body{
    margin:0;  
    font-family: arial;  
   
}
.container{
    position:absolute;
    left:0;
    top:100;
    width:100%;
    height:100%;    
}
.hero{
    height:100%;
    width:100%;
    background-image: url(https://wallpapertag.com/wallpaper/middle/2/7/c/802111-cool-white-wallpaper-1920x1200-tablet.jpg);
}
h1,h2{
   color:#0B0080 
   }
   a{
       color:rgb(20, 89, 146);
   }
   p{
       padding: 10px 10pxl 10px 10px;
   }
   .secondary{
       background:red;
       color:blanchedalmond;
   }
   #specail   {
    background:red;
    color:yellow;
}
header h1{
    background:yellow;
    color:red;
}
nav ul li{
    display:inline-block;
    list-style-type: none; 
}
p{
    padding:10px 10px 0px 0px;
}
